@import url('https://fonts.googleapis.com/css2?family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Banner section styles starts */

.banner-container{
    background-image: linear-gradient(180.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url('../images/Banner\ Image.png');
    width: 1320px;
    background-repeat: no-repeat;
    border-radius: 16px;
    margin: 0 auto;
    margin-top: 50px;
    
}

.banner-content{
    text-align: center;
    padding: 177px 344px;
    
}

.banner-subtitle{
    font-family: "Merriweather", serif;
    color: #FFFFFF;
    font-size: 28px;
    font-weight: 400;

}

.banner-title{
    font-family: "Merriweather", serif;
    color: #FFFFFF;
    font-size: 65px;
    font-weight: 900;
    margin-top: 16px;
}
/* Banner section styles ends */


/* 65% off section styles starts */

/* .offer-container{
    height: 500px;
    margin-top: 48px;
} */

.offer-content{
    text-align: center;
}

.offer-title{
    font-family: "Inter", sans-serif;
    font-size: 70px;
    font-weight: bold;
    color: #FF0000;
    margin-top: 120px;
}

.offer-description{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #FF0000;
    margin-top: 40px;
}

.offer-subtitle{
    font-family: "Inter", sans-serif;
    font-size: 40px;
    font-weight: bold;
    color: #070211;
    margin-top: 12px;
}

.offer-image{
    margin-top: 48px;
    width: 650px;
    height: 500px;
}
/* 65% off section styles ends */

/* Welcome section styles starts */

.welcome-container{
    background-image: linear-gradient(90.00deg, rgb(7, 2, 17),rgba(7, 2, 17, 0) 100%),url('../images/Vectorrr.png');
    width: 1320px;
    height: 600px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;

}

.welcome-content{
    padding: 126px 552px 298px 126px;
}

.welcome-title{
    font-family: "Merriweather", serif;
    font-size: 64px;
    font-family: 900;
    color: #FFFFFF;
    text-align: left;
}

.welcome-description{
    font-family: "Inter", sans-serif;
    font-size: 16px;
    font-weight: 400;
    color: #FFFFFF;
    text-align: left;
    margin-top: 24px;
    opacity: 80%;
}

.welcome-btn{
    margin-top: 48px;
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background: transparent;
    border: none;
    cursor: pointer;
}
/* Welcome section styles ends */

/* Card section styles start */

.primary-color{
    color: #FF0000;
}

.card-container{
    width: 1320px;
    height: 600px;
    background-image: linear-gradient(180.00deg, rgba(255, 0, 0, 0.1),rgba(255, 0, 0, 0) 100%);
    margin: 0 auto;
    margin-top: 120px;
    border-radius: 16px;
    text-align: center;
}

.card-content{
    padding: 100px 386px 110px 385px;
    line-height: 56px;
}

.card-description{
    font-size: 32px;
    font-weight: 600;
    color: #070211;
}


.card-btn{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: bold;
    color: #FFFFFF;
    background-color: #FF0000;
    border: none;
    border-radius: 8px;
    padding: 14px 28px;
    margin-top: 48px;
    cursor: pointer;
}
/* Card section styles ends */

/* Coming soon section styles starts */

.coming-soon-container{
    width: 1320px;
    height: 463px;
    margin: 0 auto;
    margin-top: 120px;
    
}

.coming-soon-content{
    display: flex;
    /* flex-direction: column; */
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    gap: 70px;
}

.coming-soon-subtitle{
    font-family: "Inter", sans-serif;
    font-size: 24px;
    font-weight: 500;
    color: #FF0000;
}

.coming-soon-title{
    font-family: "Merriweather", serif;
    font-size: 48px;
    font-weight: 900;
    color: #070211;
    margin-top: 16px;
}

.coming-soon-description{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #070211;
    opacity: 60%;
    margin-top: 22px;
}

.coming-soon-image{
    margin-top: 30px;
}

.coming-soon-image img{
    width: 340px;
    height: 340px;
}

.ring{
    position: absolute;
    width: 370px;
    height: 370px;
    /* box-sizing: border-box; */
    border: 10px solid rgb(255, 0, 0);
    border-radius: 50%;
    margin: -15px -355px;
}

.coming-soon-last-part-title{
    font-family: "Inter", sans-serif;
    font-size: 48px;
    font-weight: bold;
    color: #FF0000;
    margin-top: 130px;
}

.coming-soon-last-part-description{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 400;
    color: #070211;
    opacity: 60%;
    margin-top: 15px;
}

.coming-soon-last-part-image{
    width: 130px;
    height: 130px;
    margin-top: 40px;
}
/* Coming soon section styles ends */

/* Holiday section styles starts */

.holiday{
    width: 1320px;
    height: 986.07px;
    border: 1px solid red;
    margin: 0 auto;
    margin-top: 120px;
    position: relative;
}

.holiday-container{
    /* width: 1068px;
    height: 260px; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}


.holiday-subtitle{
    font-family: "Inter", sans-serif;
    font-size: 20px;
    font-weight: 500;
    color: #070211;
    margin-bottom: 14px;
}

.holiday-title{
    font-family: "Merriweather", serif;
    font-size: 65px;
    font-weight: 900;
}

.holiday-description{
    font-family: "Inter", sans-serif;
    font-size: 15px;
    font-weight: 500;
    opacity: 60%;
    padding: 0 126px;
    margin-top: 20px;
}

.holiday-bg{
    width: 1320px;
    height: 229px;
    background-color: red;
    position: absolute;
    top: 76.75%;
}

.holiday-giftbox{
    display: flex;
}
.gift{
    width: 674.82px;
    height: 577.96px;
    margin-top: 100px;
    position: relative;
    z-index: 1;
}

.holiday-discount{
    width: 305px;
    height: 305px;
    padding-left: 177px;
    margin-top: 140px;
}

























































.container{
    width: 1320px;
    height: 1163px;
    border: 1px solid blue;
    margin: 0 auto;
    margin-top: 120px;
}